@import url(https://fonts.googleapis.com/css?family=Fugaz+One);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-image: url(http://scherma72.github.io/unit_4/images/tb_lady.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
nav{
	display:inline-block;
	/*height: 50px;*/
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	background-color: white;
	color: #000;
}
/*nav a{
	color: inherit;
	text-decoration: none;
	margin-right: 20px;
	text-align: top;*/

}
header{
	height: 400px;
}
h1 {
	font-family: 'Fugaz One', cursive;
	font-size: 2.5em;
	text-align: center;
	font-variant: normal;
	color: white;
}	
h2 {  
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	font-size: 1.5em;
	color: white;
}
h3{
	text-align: center;
	font-family: 'Fugaz One', cursive; 
	font-size: 1em;
	text-align: center;
	color: white;
	border-bottom: none;
}
footer{
	background-color: #669999;
}
ul.c {
    height:50px;
    text-align:center;
}
ul li a {
	color: inherit;
    float: right;
    text-decoration:none;
    padding: 15px 15px;
}
ul li a:hover {
    color: #669999;
}
ul li {
    height:50px;
    /*display:inline-block;*/
}


 
