@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-image: url(http://scherma72.github.io/unit_4/images/tb_lady.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
nav{
	height: 50px;
	font-family: 'Open Sans', sans-serif;
	background-color: white;
}
nav a{
	color: #000;
	color: inherit;
	text-decoration: none;
	font-size: 1em;
	display: table-cell;
    vertical-align: middle;
}
a:hover{
    color: #669999;
}
header{
	height: 400px;
}
h1 {
	padding-top: 100px;
	font-family: 'Pacifico', cursive;
	font-size: 2.5em;
	letter-spacing: 2px;
	text-align: center;
	font-variant: normal;
	color: white;
}	
h2{  
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
	color: white;
}
h3{
	text-align: center;
	font-family: 'Open Sans', sans-serif; 
	font-size: 1em;
	text-align: center;
	color: white;
	border-bottom: none;
}
p{
	text-align: center;
	font-family: 'Open Sans', sans-serif; 
	font-size: 1em;
	text-align: center;
	color: white;
	border-bottom: none;
}
footer{
	background-color: #669999;
}

 
