@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-image: url(http://scherma72.github.io/unit_4/images/tb_lady.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
nav{
	height: 50px;
	font-family: 'Open Sans', sans-serif;
	background-color: white;
}
nav img{
	padding-right: 350px;
}
nav a{
	padding-right: 50px;
	color: #000;
	color: inherit;
	text-decoration: none;
	font-size: 1em;
	display: table-cell;
    vertical-align: middle;
}
a:hover{
    color: #669999;
}
header{
	height: 700px;
}
h1 {
	padding-top: 100px;
	font-family: 'Pacifico', cursive;
	font-size: 2.5em;
	letter-spacing: 2px;
	text-align: center;
	font-variant: normal;
	color: white;
}
header p{
	padding-bottom: 300px;
}
header a{
	padding-bottom: 50px;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	color: white;
}
.create{
	display: block;
	margin-left: 50%;
	margin-right: 50%;
	text-align: center;
    vertical-align: middle;
	text-decoration:none;
    border: 2px solid white;
    background-color: rgba(128, 153, 153, 0.7);
    width: 200px;
    height: 50px; 
}
.show{
	display: block;
	margin-left: 50%;
	margin-right: 50%;
	text-align: center;
    vertical-align: middle;
	text-decoration:none;
    border: 2px solid white;
    background-color: rgba(153, 102, 102, 0.7);
    width: 200px;
    height: 50px; 
}
h2{  
    font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	color: white;
}
h3{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
	text-align: center;
	color: white;
}
p{
	text-align: center;
	font-family: 'Open Sans', sans-serif; 
	font-size: 1em;
	text-align: center;
	color: white;
}
footer{
	background-color: #669999;
}


 
