@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* { box-sizing:border-box; }

nav {
	background-color: #FFF;
	height: 50px;
}
nav a {
	font-family: 'Open Sans', sans-serif;
	color: inherit;
	padding-right: 50px;
	text-decoration: none;
	color: #000;
	font-size: 1em;
	display: block;
    padding-top: 15px;
	float: right;
}	
nav a:hover {
    color: #669999;
}
header {
	background-image: url('../images/2372x900px-hero.jpg');
 	background-position: left;
    background-size: 100%;
    position: absolute;
    background-size: cover;
    position: relative;
    height: 1000px;
    background-repeat: no-repeat;
    text-decoration: none;
}
header h1 {
	clear: both;
	display: block;
	margin: auto;
	text-align: center;
}
h1 { 
	font-family: 'Pacifico', cursive;
	font-size: 4.5em;
	line-height: 140%;
	letter-spacing: 2px;
	color: #FFF;
	padding-top: .5em;
}
header p {
	margin: auto;
	display: block;
	width: 650px;
	padding-top: 25px;
	line-height: 125%;
	text-align: center;
	font-family: 'Open Sans', sans-serif; 
	font-size: 1.5em;
	color: #FFF;
}
button {
	text-align: center;	
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	color: #FFF;
	text-decoration: none;	
	margin: auto;
	border: none;
	width: 300px;
	border-radius: 5px;
	padding: 10px;	
}
button a{
	text-decoration: none;
	color: #FFF;
	color: inherit;	
}
section img {
	margin-left: 50%;
	transform:translateX(-50%);
}
h2 {
	font-family: 'Pacifico', cursive;
	font-size: 1.8em;
	color: #FFF;
	line-height: 125%;
	text-align: center;
}
h3 {
	font-family: 'Pacifico', cursive;
	font-size: 3em;
	text-align: center;
	color: #000;
}
.info p {
	color: #C4DBD7;
}
p {
	padding-top: 10px;
	text-align: center;
	font-family: 'Open Sans', sans-serif; 
	font-style: thin;
	line-height: 150%;
	font-size: .8em;
	text-align: center;
	color: #7A756E;
}
footer {
	height: 50px;
	background-color: #000;
}

footer a {
	display: block;
	padding-top: 11px;
	margin-left: 10px;
	float: left;
}
footer p {
	clear: left; 
	padding: 10px;
}
#behance {
	padding-left: 1028px;
}
#logo {
	display: block;
	float: left;
	padding-top: 0px;
	padding-left: 20px;
}
#button1 {	
	margin-top: 23em;
    background-color: rgba(128, 153, 153, 0.7);
}
#button2 {
	background-color: rgba(153, 102, 102, 0.7);
	margin-top: 15px;
}
#step1, #step2, #step3 {
	padding-left: 80px;
}
.info {
	height: 350px;
	background-color: rgb(128, 153, 153);
}
#info1, #info2, #info3 {
	display: block;
	width: 300px;
	margin: 20px 8% 20px 9%;
	padding: 20px;
	float: left;
}
.steps {
	margin-top: 40px;
	height: 350px;
	background-color: #FFF;
}
#step1, #step2, #step3 {
	display: block;
	width: 300px;
	margin: 20px 8% 20px 9%;
	padding: 20px;
	float: left;
}
@media screen and (max-width: 1668px) {
	h1 {
		font-size: 3em;
	}
	h3 {
		font-size: 2em;
	}
	header {
		height: 750px;
	}
	#button1 {	
		margin-top: 18em;
	}
	#info1, #info2, #info3 {
		margin: 20px 2% 20px 7.5%;
	}
	#step1, #step2, #step3 {
		margin: 20px 2% 20px 7.5%;
	}
	#behance {
	padding-left: 646px;
	}
}
@media screen and (max-width: 1260px) {
	#info1, #info2, #info3 {
		margin: 20px 2% 20px 1.5%;
	}
	#step1, #step2, #step3 {
		margin: 20px 2% 20px 1.5%;
	}
	#behance {
		padding-left: 375px;
	}
}
@media screen and (max-width: 1006px) {
	#info1, #info2, #info3 {
		margin: 20px 2% 20px 0.5%;
	}
	#step1, #step2, #step3 {
		margin: 20px 2% 20px 0.5%;
	}
}
@media screen and (max-width: 973px) {
	#info1, #info2, #info3 {
		margin: 20px -2% 20px -0.5%;
	}
	#step1, #step2, #step3 {
		margin: 20px -2% 20px -0.5%;
	}
}
@media screen and (max-width: 842px) {
	#info1, #info2 {
		margin: 0px -2% 0px -2%;
	}
	.info {
	height: 500px;
	}
	#info3 {
		margin-top: 0px;
		clear: left;
		margin-left: 50%;
		transform:translateX(-50%);
	}
	#step1, #step2 {
		margin: 0px -2% 0px -2%;
	}
	#step3 {
		margin-top: 0px;
		clear: left;
		margin-left: 50%;
		transform:translateX(-50%);
	}
	#behance {
		padding-left: 183px;
	}
}
@media screen and (max-width: 780px) {
	h1 {
		font-size: 2.5em;
	}
	header p {
		font-size: 1.1em;
		width: 477px;
		padding-top: 20px;
	}
	h3 {
		font-size: 2em;
	}
	header {
		height: 750px;
	}
	#button1 {	
		margin-top: 19.5em;
	}
}
@media screen and (max-width: 663px) {
	h1 {
		padding-top: .15em;
		width: 400px;
	}
	#button1 {	
		margin-top: 12em;
	}
	header {
		height: 500px;
	}
	header p {
		padding-top: 15	px;
	}
	button {
		font-size: 1em;	
		width: 190px;
		margin: auto;
	}
}
@media screen and (max-width: 560px) {
	nav {
		height: 70px;
	}
	#logo {
		margin-left: -15px;
		float: left;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	#info1, #info2, #info3 {
		margin-top: none;
		margin-left: 50%;
		transform:translateX(-50%);
	}
	#step1, #step2, #step3 {
		margin-top: none;
		margin-left: 50%;
		transform:translateX(-50%);
	}
		.info {
	height: 740px;
	}
	#behance {
		padding-left: 50px;
	}
	nav a {
		display: block;
		float: left;
		padding-right: 20px;
	}
}
@media screen and (max-width: 500px) {
	header p {
		display: block;
		font-size: .7em;
		padding-top: 210px;
		width: 295px;
		color: #000;
	}
	header {
		height: 230px;
	}
	header h1 {
		width: 335px;
		font-size: 1em;
		background-color: #000;
		margin: auto;
		padding-bottom: 5px;
	}	
	footer {
		height: 50px;
		background-color: #000;
	}
	footer a {
		padding-top: 10px;
		padding-left: 5px;
		margin-left: 0px;
		float: left;
	}
	#button1 {	
		margin-top: 1em;
	}
}
