@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* { box-sizing:border-box; }

nav {
	background-color: #FFF;
	height: 50px;
}
nav a {
	font-family: 'Open Sans', sans-serif;
	color: inherit;
	padding-right: 50px;
	text-decoration: none;
	color: #000;
	font-size: 1em;
	display: block;
    padding-top: 15px;
	float: right;
}	
nav a:hover {
    color: #669999;
}
header {
	background-image: url('../images/2372x900px-hero.jpg');
 	background-position: left;
    background-size: 100%;
    position: absolute;
    background-size: cover;
    position: relative;
    height: 1000px;
    background-repeat: no-repeat;
    text-decoration: none;
}
header h1 {
	clear: both;
	display: block;
	margin-left: 5%;
	text-align: center;
}
h1 { 
	font-family: 'Pacifico', cursive;
	font-size: 6em;
	line-height: 140%;
	letter-spacing: 2px;
	color: #FFF;
	padding-top: .5em;
}
header p {
	padding-top: 25px;
	line-height: 125%;
	text-align: center;
	font-family: 'Open Sans', sans-serif; 
	font-size: 2.5em;
	text-align: center;
	color: #FFF;
}

button {
	text-align: center;	
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	color: #FFF;
	text-decoration: none;	
	margin-left: 43%;
	border: none;
	width: 300px;
	border-radius: 5px;
	padding: 10px;	
}
h2 {
	font-family: 'Pacifico', cursive;
	font-size: 1.8em;
	color: #FFF;
	line-height: 125%;
	text-align: center;
}
h3 {
	padding: 50 0 50 0;
	font-family: 'Pacifico', cursive;
	font-size: 3em;
	text-align: center;
	color: #000;
	clear: left;
}
p {
	text-align: center;
	font-family: 'Open Sans', sans-serif; 
	font-style: thin;
	line-height: 150%;
	font-size: .8em;
	text-align: center;
	color: #000;
}
script { 
	border-radius: 5px;
	padding: 10px;
	float: left;		
}
footer {
	height: 50px;
	background-color: #000;
}
footer a {
	text-decoration: none;
	padding-top: 11px;
	margin-left: 10px;
    color: inherit;
 	float: left;
}
#logo {
	display: block;
	float: left;
	padding-top: 0px;
	padding-left: 20px;
}
#button1 {	
	margin-top: 25em;
    background-color: rgba(128, 153, 153, 0.7);
}
#button2 {
	background-color: rgba(153, 102, 102, 0.7);
	margin-top: 15px;
}
#artist, #clock, #money {
	padding-left: 95px;
}
#step1, #step2, #step3 {
	padding-left: 80px;

}
@media screen and (max-width: 1668px) {
	h1 {
	font-size: 3em;
	}
	h3 {
	font-size: 2em;
	}
	header {
	height: 750px;
	}
	header p {
	font-size: 1.5em;
	}
	button {
		margin-left: 38%;
	}
	#button1 {	
		margin-top: 17em;
}
@media screen and (max-width: 1260px) {
}
@media screen and (max-width: 500px) {
	nav {
		height: 80px;
	}
	nav a {
		display: block;
		float: left;
		padding-right: 20px;
	}
	header p {
		display: block;
		font-size: .9em;
		padding-top: 15px;
		width: 250px;
		margin-left: 50%;
		transform:translateX(-50%);
	}
	header {
	    height: 380px;
	}
	h1 {
		font-size: 1.6em;
	}
	button {
		font-size: 1em;	
		width: 190px;
		margin-left: 50%;
		transform:translateX(-50%);	
	}
	h5 {
	    padding: 17px;
		color: #FFF;
		clear: left;	
		text-align: center;
		font-size: .8em;
		margin-left: 50%;
		transform:translateX(-50%);
	}	
	footer {
		height: 80px;
		background-color: #000;
	}
	footer a {
		padding-top: 0px;
		padding-left: 5px;
		margin-left: 5px;
		float: left;
 	}
	.headerText-wrapper {
		top: 10px;
	}
	#button1 {	
		margin-top: 6em;
	}
	.step1-wrapper, .step2-wrapper, .step3-wrapper {
		margin-left: 50%;
		transform:translateX(-50%);
		clear: left;
	}
	.artist-wrapper, .clock-wrapper, .money-wrapper {
		margin: 0px 0px 0px 15px;
		clear: left;
		height: 300px;
		margin-left: 50%;
		transform:translateX(-50%);
	}
	.info {
		height: 925px;
		margin-bottom: 50px;
	}
	#fly, #up, #sketch {
		margin-left: 50%;
		transform:translateX(-50%);
	}
	.logo {
		margin-left: 0px;
		float: left;
		padding-top: 10px;
	}
}
