@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* { box-sizing:border-box; }

nav {
	background-color: #FFF;
	height: 50px;
}
nav a {
	font-family: 'Open Sans', sans-serif;
	color: inherit;
	padding-right: 50px;
	text-decoration: none;
	color: #000;
	font-size: 1em;
	display: block;
    padding-top: 15px;
	float: right;
}	
nav a:hover {
    color: #669999;
}
header {
	background-image: url('../images/2372x900px-hero.jpg');
 	background-position: left;
    background-size: 100%;
    position: absolute;
    background-size: cover;
    position: relative;
    height: 1000px;
    background-repeat: no-repeat;
    text-decoration: none;
}
header p {
	padding-top: 25px;
	line-height: 125%;
	text-align: center;
	font-family: 'Open Sans', sans-serif; 
	font-size: 2.5em;
	text-align: center;
	color: #FFF;
}
button {
	text-align: center;	
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	color: #FFF;
	text-decoration: none;	
	margin-left: 43%;
	border: none;
	width: 300px;
	border-radius: 5px;
	padding: 10px;	
}
h1 {
	font-family: 'Pacifico', cursive;
	font-size: 6em;
	line-height: 140%;
	letter-spacing: 2px;
	text-align: center;
	color: #FFF;
}
h2 {
	font-family: 'Pacifico', cursive;
	font-size: 1.8em;
	color: #FFF;
	line-height: 125%;
	text-align: center;
}
h3 {
	padding: 50 0 50 0;
	font-family: 'Pacifico', cursive;
	font-size: 3em;
	text-align: center;
	color: #000;
	clear: left;
}
h4 {
	text-align: center;
	font-family: 'Pacifico', cursive;
	font-size: 2em;	
	padding-bottom: 10px;
}
h5 {
    margin-left: 33%;
    padding-top: 17px;
	font-family: 'Open Sans', sans-serif;
	color: #FFF;
	float: left;
}
p {
	text-align: center;
	font-family: 'Open Sans', sans-serif; 
	font-style: thin;
	line-height: 150%;
	font-size: .8em;
	text-align: center;
	color: #000;
}
footer {
	height: 50px;
	background-color: #000;
}
footer a {
	text-decoration: none;
	padding-top: 11px;
	margin-left: 10px;
    color: inherit;
 	float: left;
}
.info {
	height: 350px;
	background-color: rgb(128, 153, 153);
}
.logo {
	margin-left: 20px;
	float: left;
	padding-top: 0px;
}
#button1 {	
	margin-top: 25em;
    background-color: rgba(128, 153, 153, 0.7);
}
#button2 {
	background-color: rgba(153, 102, 102, 0.7);
	margin-top: 15px;
}
.artist-wrapper, .clock-wrapper, .money-wrapper {
	display: block;
	width: 300px;
	height: 350px;
	margin: 20px 6% 20px 7.5%;
	padding: 20px;
	float: left;	
}
#artist, #clock, #money {
	padding-left: 95px;
}
.step1-wrapper, .step2-wrapper, .step3-wrapper {
	display: block;
	width: 300px;
	height: 350px;
	margin: 20px 6% 20px 7.5%;
	padding: 20px;
	float: left;
}
#step1, #step2, #step3 {
	padding-left: 80px;
}
.upload-wrapper {
	clear: left;
	margin: 100px 0% 100px 15%;
}
.headerText-wrapper {
	position: absolute;
	top: 30px;
	margin: auto;
	left: 0;
	right: 0;
}
@media screen and (max-width: 1668px) {
	h1 {
	font-size: 3em;
	}
	h3 {
	font-size: 2em;
	}
	header {
	height: 750px;
	}
	header p {
	font-size: 1.5em;
	}
	button {
		margin-left: 38%;
	}
	#button1 {	
		margin-top: 17em;
	}
	.upload-wrapper {
		margin: 100px 0% 100px 5%;
	}
	.step1-wrapper, .step2-wrapper, .step3-wrapper {
		margin: 20px 2% 20px 7.5%;
	}
	.artist-wrapper, .clock-wrapper, .money-wrapper {
		margin: 20px 2% 20px 7.5%;
	}	
}
@media screen and (max-width: 1260px) {
	.step1-wrapper, .step2-wrapper, .step3-wrapper {
		margin: 20px 2% 20px 1.5%;
	}
	.artist-wrapper, .clock-wrapper, .money-wrapper {
		margin: 20px 2% 20px 1.5%;
	}
	.upload-wrapper {
		margin: 100px 0% 100px -4%;
	}
}
@media screen and (max-width: 500px) {
	nav {
		height: 80px;
	}
	header p {
		font-size: .9em;
		padding-top: 15px;
	}
	header {
	    height: 557px;
	}
	h1 {
		font-size: 2.8em;
	}
	button {
		font-size: 1em;	
		margin-left: 26%;
		width: 200px;	
	}
	h5 {
	    margin-left: 15px;
	    padding-top: 17px;
		color: #FFF;
		clear: left;	
		text-align: center;
		font-size: .8em;
	}
	nav img{
		height: 80px;
	}
	footer {
		height: 50px;
		background-color: #000;
	}
	.headerText-wrapper {
		top: 10px;
	}
	#button1 {	
		margin-top: 15em;
	}
	.step1-wrapper, .step2-wrapper, .step3-wrapper {
		margin: 0px 0px 0px 30px;
		clear: left;
	}
	.artist-wrapper, .clock-wrapper, .money-wrapper {
		margin: 0px 0px 0px 30px;
		clear: left;
		height: 300px;
	}
	.info {
		height: 925px;
		margin-bottom: 50px;
	}
	#fly, #up, #sketch {
		margin-left: 50px;
	}
	.logo {
		margin-left: 0px;
		float: left;
		padding-top: 0px;
	}
}	


 
