h1 {  top: 60px; text-align: center; 
	font-family: helvetica; color: #333029;}
h3 {  text-align: center; 
	font-family: helvetica; color: #595448;}
body {
    background-color: white; 
  	background-image: url("scherma72.github.io/unit_3/image/tp_background_image.jpg");
  	background-size: cover; }
 img { top: 50px; }
