h1 {  top: 60px; text-align: center; 
	font-family: helvetica; color: #669999;}
h3 {  text-align: center; 
	font-family: helvetica; color: #99cccc;}
body {
    background-color: white; 
  	background-image: url("http://scherma72.github.io/unit_3/image/tp_background_image.png");
  	}
 
