h1 {  top: 150px; text-align: center; 
	font-family: helvetica; color: #333029;}
h3 {  text-align: center; 
	font-family: helvetica; color: #595448;}
body {
    background-color: white; background-image: center;}
 img { top: 50px; }
